In [23]:
import pandas as pd

In [24]:
from BTC_test_oracle import BTCOracle

In [33]:
my_Oracle = BTCOracle()

In [26]:
import urllib.request
import pickle

In [34]:
my_Oracle.funding_rate_table

       Binance      date_time
0     0.000100  1675152000000
1     0.000100  1675180800007
2     0.000100  1675209600013
3     0.000100  1675238400000
4     0.000100  1675267200012
...        ...            ...
1090  0.000100  1706544000000
1091  0.000100  1706572800000
1092  0.000095  1706601600000
1093  0.000051  1706630400001
1094  0.000022  1706659200000

[1095 rows x 2 columns]

In [46]:
my_Oracle.get_floating_rate(1706601600005)

9.492e-05

In [47]:
my_Oracle.funding_rate_table

       Binance      date_time
1093  0.000051  1706630400001
1094  0.000022  1706659200000